modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "public"
